.content-status
  &__overlay::after
    content: ''
    height: 100vh
    width: 100vw
    position: fixed
    top: 0
    left: 0
    background: rgba(0, 0, 0, .5)
    z-index: 100
    animation: opacityVisible .5s ease
  &__overlay:not([data-status="LOADING"])::after
    animation: opacityHidden .5s ease
    animation-delay: 2.5s
  &__info
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    z-index: 101

@keyframes opacityVisible
  0%
    opacity: 0
  100%
    opacity: 1

@keyframes opacityHidden
  0%
    opacity: 1
  100%
    opacity: 0

.info-status
  display: grid
  justify-items: center
  align-items: center
  &__message
    font-family: AmaticR, sans-serif
    font-size: 4rem
    margin-bottom: 10px
    white-space: nowrap
    color: white
    animation: 3s ease messageAppearance
  &__message[data-status="LOADING"]
    animation: none
  &__mark
    width: 100px

@keyframes messageAppearance
  0%
    transform: translateY(-50px)
    opacity: 0
    clip-path: polygon(100% 0, 100% 20%, 0 100%, 0 80%)
  20%
    transform: translateY(0)
    opacity: 1
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 25%)
  80%
    transform: translateY(0)
    opacity: 1
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 25%)
  100%
    transform: translateY(50px)
    opacity: 0
    clip-path: polygon(100% 0, 100% -0%, 0 100%, 0 100%)
