.icon-success
  &__circle,
  &__slash,
  &__back-slash
    fill: none
    stroke: #004d00
    stroke-width: .2
  &__circle
    animation: iconCircle 3s ease
  &__slash,
  &__back-slash
    animation: iconShash 3s ease

.icon-error
  &__circle,
  &__slash,
  &__back-slash
    fill: none
    stroke: #8b0000
    stroke-width: .2
  &__circle
    animation: iconCircle 3s ease
  &__slash, &__back-slash
    animation: iconShash 3s ease

@keyframes iconCircle
  0%
    stroke-dasharray: 0 13
  50%
    stroke-dasharray: 13 13
  80%
    transform: translateY(0)
    opacity: 1
    clip-path: polygon(105% -5%, 105% 105%, -5% 105%, -5% -5%)
  100%
    transform: translateY(1px)
    opacity: 0
    clip-path: polygon(100% 0, 100% -0%, 0 100%, 0 100%)

@keyframes iconShash
  0%
    stroke-dasharray: 0 3
  50%
    stroke-dasharray: 3 3
  80%
    transform: translateY(0)
    opacity: 1
    clip-path: polygon(105% -5%, 105% 105%, -5% 105%, -5% -5%)
  100%
    transform: translateY(1px)
    opacity: 0
    clip-path: polygon(100% 0, 100% -0%, 0 100%, 0 100%)

.icon-spinner
  &__back-circle
    fill: none
    stroke: gray
    stroke-width: .2
  &__front-circle
    fill: none
    stroke: white
    stroke-width: .3
    stroke-linecap: round
    stroke-dashoffset: 10
    stroke-dasharray: 10
    animation: rotateSpinner 1s linear infinite
    transform-origin: 50% 30%

@keyframes rotateSpinner
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)

.icon-home
  fill: none
  width: 72px
  height: 103px
  &__left-foundation
    width: 60px
    height: 34px
    transform: translate(6px, 69px)
    fill: #1D3849
  &__right-foundation
    width: 30px
    height: 30px
    transform: translate(36px, 73px)
    fill: #1B3544
  &__left-roof
    transform: translate(6px, 44px)
    fill: #1D3849
  &__right-roof
    transform: translate(66px, 44px) scale(-1, 1)
    fill: #1B3544
  &__upper-left-window,
  &__upper-right-window,
  &__lower-left-window,
  &__lower-right-window
    width: 12px
    height: 6px
    transform: translate(23px, 77px)
    fill: #C4C4C4
  &__upper-right-window
    transform: translate(37px, 77px)
  &__lower-left-window
    transform: translate(23px, 85px)
  &__lower-right-window
    transform: translate(37px, 85px)
  &__left-coating
    transform: translate(0px, 38px)
    fill: #1D3849
  &__right-coating
    transform: translate(36px, 38px)
    fill: #1B3544
  &__left-shadow,
  &__right-shadow
    transform: translate(6px, 43.5px)
    fill: #222E3E
  &__right-shadow
    transform: translate(36px, 43.5px)
  &__trumpet
    width: 6px
    height: 14px
    transform: translate(50px, 44px)
    fill: #1B3544
  &__smoke-small,
  &__smoke-middle,
  &__smoke-big
    opacity: .5
    fill: #C4C4C4
  &__smoke-small
    width: 10px
    height: 10px
    transform: translate(46px, 35.57px) rotate(-45deg)
  &__smoke-middle
    width: 15px
    height: 15px
    transform: translate(42.4px, 26.6066px) rotate(-45deg)
  &__smoke-big
    width: 20px
    height: 20px
    transform: translate(39px, 14.1421px) rotate(-45deg)
