.icon-success
  &__circle,
  &__slash,
  &__back-slash
    fill: none
    stroke: $icon-success
    stroke-width: .2
  &__circle
    animation: iconCircleVisible 1s ease
  &__slash,
  &__back-slash
    animation: iconSlashVisible 1s ease

.icon-error
  &__circle,
  &__slash,
  &__back-slash
    fill: none
    stroke: $icon-error
    stroke-width: .2
  &__circle
    animation: iconCircleVisible 1s ease
  &__slash, &__back-slash
    animation: iconSlashVisible 1s ease

@keyframes iconCircleVisible
  0%
    stroke-dasharray: 0 13
  100%
    stroke-dasharray: 13 13

@keyframes iconCircleHidden
  0%
    transform: translateY(0)
    opacity: 1
    clip-path: polygon(105% -5%, 105% 105%, -5% 105%, -5% -5%)
  100%
    transform: translateY(1px)
    opacity: 0
    clip-path: polygon(100% 0, 100% -0%, 0 100%, 0 100%)

@keyframes iconSlashVisible
  0%
    stroke-dasharray: 0 3
  100%
    stroke-dasharray: 3 3

@keyframes iconSlashHidden
  0%
    transform: translateY(0)
    opacity: 1
    clip-path: polygon(105% -5%, 105% 105%, -5% 105%, -5% -5%)
  100%
    transform: translateY(1px)
    opacity: 0
    clip-path: polygon(100% 0, 100% -0%, 0 100%, 0 100%)

.icon-spinner
  &__back-circle
    fill: none
    stroke: $icon-spinner-back
    stroke-width: .2
  &__front-circle
    fill: none
    stroke: $icon-spinner-front
    stroke-width: .3
    stroke-linecap: round
    stroke-dashoffset: 10
    stroke-dasharray: 10
    animation: rotateSpinner 1s linear infinite
    transform-origin: 50% 30%

@keyframes rotateSpinner
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)
