// --ICONS--
$icon-success: #004d00
$icon-error: #8b0000
$icon-spinner-back: #808080
$icon-spinner-front: #fff

$home-wall: #E5C093
$home-shadow: #C7986C
$home-roof: #764C24
$home-window: #A7D7EB
$home-glare: #B0DFF1

$tree-list: #50913A
$tree-stvol: #685020

$scroll-back: #bbb
$scroll-front: #666

// --IMAGES--
//$image-header: '../../../images/homeImage/headerImg.jpg'
