@import "reset"
@import "vars"
@import "media"

@font-face
  font-family: "AmaticB"
  src: url('../fonts/amatic/AmaticSC-Bold.ttf')

@font-face
  font-family: "AmaticR"
  src: url('../fonts/amatic/AmaticSC-Regular.ttf')

@font-face
  font-family: "RobotoL"
  src: url('../fonts/roboto/Roboto-Light.ttf')

@font-face
  font-family: "RobotoR"
  src: url('../fonts/roboto/Roboto-Regular.ttf')

@font-face
  font-family: "RobotoM"
  src: url('../fonts/roboto/Roboto-Medium.ttf')