.header
  height: 100vh
  transition: background 3s ease
  &__form
    width: calc(100vw - 6px)
    *
      box-shadow: none !important
      color: #999999 !important
  &__scene
    width: 0
    height: 0

@-moz-document url-prefix()
  .header__form
    width: 99vw

.search-form
  .Select-control
    border: 0
    box-shadow: none !important
  .Select-menu-outer
    border: none
    border-top: 1px solid #999999

.Select-control
  border-radius: 0 !important

@keyframes floatingTopClouds
  0%
    transform: translateX(3vw)
  50%
    transform: translateX(5vw)
  100%
    transform: translateX(3vw)

@keyframes floatingMiddleClouds
  0%
    transform: translateX(20vw)
  50%
    transform: translateX(22vw)
  100%
    transform: translateX(20vw)

@keyframes floatingBottomClouds
  0%
    transform: translateX(40vw)
  50%
    transform: translateX(42vw)
  100%
    transform: translateX(40vw)
