.header
  height: 100vh
  transition: 3s ease
  &__form
    width: calc(100vw - 6px)
    *
      box-shadow: none !important
      color: #999999 !important
  &__scene
    width: 0
    height: 0

@-moz-document url-prefix()
  .header__form
    width: 99vw

.search-form
  .Select-control
    border: 0
    box-shadow: none !important
  .Select-menu-outer
    border: none
    border-top: 1px solid #999999

.Select-control
  border-radius: 0 !important

.scene-object
  *
    position: absolute
    bottom: 143px
  svg
    width: auto
  &__sea-back
    bottom: 0
    height: 120px
    width: 102vw
    margin-left: -1vw
    background: $sea-back
    animation: 3s linear backSea infinite
  &__sea-front
    bottom: -12%
    height: 150px
    width: 102vw
    margin-left: -1vw
    background: $sea-front
    animation: 4s linear frontSea infinite
  &__ground
    bottom: 0
    margin-left: 7.5vw
    border-top-left-radius: 20px
    border-top-right-radius: 20px
    height: 145px
    width: 85vw
    background: $ground
  &__short-cloud-top,
  &__short-cloud-bottom,
  &__long-cloud-top,
  &__long-cloud-bottom
    bottom: 0
    width: 100vw
    height: 200px
    background-repeat: repeat-x
  &__short-cloud-top
    top: 15vh
    background-image: url(../images/shortCloud.svg)
    animation: 15s floatingShortClouds linear infinite
  &__short-cloud-bottom
    top: 35vh
    background-image: url(../images/shortCloud.svg)
    animation: 10s floatingShortClouds linear infinite
  &__long-cloud-top
    top: 25vh
    background-image: url(../images/longCloud.svg)
    animation: 10s floatingLongClouds linear infinite
  &__gray-mountain-left
    left: 10vw
    height: 13vw
  &__gray-mountain-right
    right: 7vw
    height: 18vw
    transform: scale(-1, 1) skewX(10deg)
  &__small-dark-mountain
    left: 38vw
    height: 7vw
  &__big-dark-mountain
    left: 45vw
    height: 10vw
  &__blue-montain-1
    left: 30vw
    height: 5vw
  &__blue-montain-2
    left: 21vw
    height: 7vw
  &__blue-montain-3
    right: 27vw
    height: 8vw
    transform: scale(-1, 1)
  &__blue-montain-4
    right: 37vw
    height: 5vw
    transform: scale(-1, 1)
  &__tree-1
    left: 36.5vw
    height: 3vw
  &__tree-2
    left: 38vw
    height: 4vw
  &__tree-3
    left: 35vw
    height: 4vw
  &__tree-4
    left: 33vw
    height: 5vw
  &__tree-5
    left: 27vw
    height: 4vw
  &__tree-6
    right: 35vw
    height: 4vw
  &__tree-7
    right: 27vw
    height: 4vw
  &__tree-8
    right: 25vw
    height: 6vw
  &__home
    left: 50vw
    height: 5vw
  &__sun,
  &__moon
    height: 5vw
    right: 50vw
    transform-origin: right center
    transition: 3s ease

@keyframes backSea
  0%
    transform: rotate(0deg)
  25%
    transform: rotate(-1deg) translateY(5px)
  75%
    transform: rotate(1deg) translateY(-5px)
  100%
    transform: rotate(0deg)

@keyframes frontSea
  0%
    transform: rotate(0deg)
  25%
    transform: rotate(2deg) translateY(5px)
  75%
    transform: rotate(-2deg) translateY(-5px)
  100%
    transform: rotate(0deg)

@keyframes floatingShortClouds
  100%
    background-position-x: 440px

@keyframes floatingLongClouds
  100%
    background-position-x: 600px
